{% load static %}

<div id="body-bg">
    <ul class="social-icons pull-right hidden-xs">
        <li class="social-rss">
            <a href="#" target="_blank" title="RSS"></a>
        </li>
        <li class="social-twitter">
            <a href="#" target="_blank" title="Twitter"></a>
        </li>
        <li class="social-facebook">
            <a href="#" target="_blank" title="Facebook"></a>
        </li>
        <li class="social-googleplus">
            <a href="#" target="_blank" title="GooglePlus"></a>
        </li>
    </ul>
    <div id="header">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="logo" style="width: 280px;margin-top: -7px">
                    <a href="/" title="">
                        <img src="{% static "assets/img/logo2.png" %}" alt="Logo"/>
                    </a>
                </div>
                <!-- End Logo -->
            </div>

        </div>
        <form action="/search/" method="post" style="margin-top: -22px; margin-left: 890px; ">
            {% csrf_token %}
            <input id="query" name="query" class="input search-input" type="search" placeholder="  Enter your keyword" style="background: gainsboro;border-radius: 18px;" >

            {% load mptt_tags %}

            <select name="catid" class="input search-categories" style="margin-left: 1px;padding-bottom: 4px; padding-top: 4px;background: gainsboro;border-radius: 18px">
                <option value="0">All Categories</option>
                {% recursetree category %}
                    {% if node.is_leaf_node %}
                        <option value="{{ node.id }}">{{ node.title }}</option>
                    {% endif %}
                    {% if not node.is_leaf_node %}
                        <optgroup label="{{ node.title }}">
                            {{ children }}
                        </optgroup>
                    {% endif %}
                {% endrecursetree %}
            </select>
            <button class="btn-outline-success" style="border-radius: 18px;background-color: #8270a4"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- Top Menu -->

    <script>

        $(function() {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandler(event, ui)
        {
            var selectedObj = ui.item;
        }

    </script>

    <div id="hornav" {% if not node.is_leaf_node %} class="container no-padding" {% endif %}>
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="text-center visible-lg">
                    <ul id="hornavmenu" {% if not node.is_leaf_node %} class="nav navbar-nav" {% endif %} style="background-color: #222222">
                        <li>
                            <a href="/" class="fa-home"><b>Home</b></a>
                        </li>
                        <li>
                            <span class="fa-bars">Categories</span>
                            <ul>
                                {% load mptt_tags %}
                                {% recursetree category %}
                                    <li class="parent">
                                        <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                        {% if not node.is_leaf_node %}
                                            <ul>
                                                <li>
                                                    {{ children }}
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}


                                <li class="parent">
                                    <span>Typography</span>
                                    <ul>
                                        <li>
                                            <a href="features-typo-basic.html">Basic Typography</a>
                                        </li>
                                        <li>
                                            <a href="features-typo-blockquotes.html">Blockquotes</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/about" class="fa-home">ABOUT</a>
                        </li>
                        <li>
                            <a href="/references" class="fa-th">REFERENCES</a>

                        </li>
                        <li>
                            <a href="/contact" class="fa-comment">Contact</a>
                        </li>
                        <li>
                            {% if user.id is not None %}
                                <span class="fa-user">{{ user.first_name }}</span>
                            {% else %}
                                <span class="fa-user"><a href="/login/" style="color: #8270a4"><b>Login</b></a> / <a href="/signup/" style="color: #8270a4"><b>Sign Up</b></a></span>
                            {% endif %}

                        {% if user.id is not None %}
                            <ul>
                                <li>
                                    <a href="#">My Account</a>
                                </li>
                                <li>
                                    <a href="#">My Trips</a>
                                </li>
                                <li>
                                    <a href="#">My Activities</a>
                                </li>
                                <li>
                                    <a href="#">My Comments</a>
                                </li>
                                <li>
                                    <a href="/logout/">Logout</a>
                                </li>
                            </ul>
                        {% endif %}

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Menu -->

    <div id="content-top-border" class="container">
    </div>
