{% extends 'homebase.html' %}

{% block title %} {{ categorydata.title }} {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}

    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-30">
            <div class="blog-post">
                        <div id="breadcrumb">
                            <div class="content">
                                <ul class = "breadcrumb">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="#">Products</a></li>
                                    <li class="active">{{ categorydata.title }}</li>
                                </ul>
                            </div>
                <!-- Main Column -->
                <div class="col-md-9">

                    {% for rs in products %}
                        <!-- Blog Post -->
                        <div class="blog-post padding-bottom-20">
                            <!-- Blog Item Header -->
                            <div class="blog-item-header">
                                <!-- Title -->
                                <h2>
                                    <a href="#">
                                        {{ rs.title }}</a>
                                </h2>
                                <div class="clearfix"></div>
                                <!-- End Title -->
                            </div>
                            <!-- End Blog Item Header -->
                            <!-- Blog Item Body -->
                            <div class="blog">
                                <div class="clearfix"></div>
                                <div class="blog-post-body row margin-top-15">
                                    <div class="col-md-5">
                                        <img class="margin-bottom-20" src="{{ rs.image.url }}" alt="thumb1">
                                    </div>
                                    <div class="col-md-7">
                                        <p> {{ rs.description|safe }} </p>
                                        <!-- Read More -->
                                        <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="btn btn-primary">
                                            Read More
                                            <i class="icon-chevron-right readmore-icon"></i>
                                        </a>
                                        <!-- End Read More -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Blog Item Body -->
                        </div>
                        <!-- End Blog Item -->

                    {% endfor %}


                    <!-- Pagination -->
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li class="disabled">
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                    <!-- End Pagination -->
                </div>
                <!-- End Main Column -->
                <!-- End Recent Posts -->
            </div>
            <!-- End Side Column -->
        </div>
    </div>
    </div>
    <!-- === END CONTENT === -->

{% endblock %}

