{% extends 'homebase.html' %}

{% block title %} References - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}

    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-30">
                <div class="col-md-12">
                    <div class="row margin-bottom-30">
                        <div class="col-md-12 ">
                          <p> {{ setting.references |safe }} </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

