      <div class="grid_3">
        <h3>Categories</h3>
        <ul class="list2 l1">
          <li><a href="#">Fgo psu dr sit amek </a></li>
          <li><a href="#">Sem psum dr sit ametre conse </a></li>
          <li><a href="#">Rame sum dr sit ame consec</a></li>
          <li><a href="#">Bem psum dr sit ameteko </a></li>
          <li><a href="#">Nem dsum dr sit amewas </a></li>
          <li><a href="#">Vcem psum dr sit </a></li>
        </ul>
        <h3>Archive</h3>
        <ul class="list2 l1">
          <li><a href="#">August 2045</a></li>
          <li><a href="#">July 2045</a></li>
          <li><a href="#">June 2045</a></li>
          <li><a href="#">May 2045</a></li>
          <li><a href="#">April 2045</a></li>
          <li><a href="#">March 2045</a></li>
          <li><a href="#">February 2045</a></li>
          <li><a href="#">January 2045</a></li>
          <li><a href="#">December 2011</a></li>
        </ul>
      </div>