{% extends 'homebase.html' %}

{% block title %} User Profile - {{ profile.user_name }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}


    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-10">
                <!-- Side Column -->
                <div class="col-md-3">
                    <!-- Recent Posts -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">User Panel</h1>
                        </div>
                    </div>
                    {% include "user_panel.html" %}
                </div>
                <!-- Main Column -->
                <div class="col-md-9">
                    <!-- Recent Posts -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Change Password</h1>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">

                            {% if messages %}
                                {% for message in messages %}
                                    <div style="color: #d43f3a; font-size: medium">
                                        {{ message|safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <form method="post">
                                {% csrf_token %}

                                {% for field in form %}
                                    <p>
                                        {{ field.label_tag }}<br>

                                        {% if field.help_text %}
                                            <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                <button class="btn-primary" type="submit">Save Changes</button>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- End Main Column -->
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->


{% endblock %}

