<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content Gallery</title>
</head>
<body>
<h2>{{ content.title }}</h2>
</body>
<hr>
</html>
{% if messages %}
    {% for message in messages %}
        <div style="color: #0dd44e; font-size: medium">
            {{ message|safe }}<br><br>
        </div>
    {% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="content_id" id="id_content_id" value="{{ content.id }}">
    <label for="id_title">Title: </label>
</form>