{% extends 'homebase.html' %}

{% block title %} User COMMENTS {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}
{% block content %}


    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-10">
                <!-- Side Column -->
                <div class="col-md-2">
                    <!-- Recent Posts -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">User Panel</h1>
                        </div>
                    </div>
                    {% include "user_panel.html" %}
                </div>
                <!-- Main Column -->
                <div class="col-md-10">
                    <!-- Recent Posts -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">User Comments </h1>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if messages %}
                                {% for message in messages %}
                                    <div style="color: #0dd44e; font-size: medium">
                                        {{ message|safe }}<br><br>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <table class="text-center">
                                <tr>
                                    <th class="text-center">Product</th>
                                    <th class="text-center">Subject</th>
                                    <th class="text-center">Comment</th>
                                    <th>Status</th>
                                    <th class="text-center">Date</th>
                                </tr>
                                {% for rs in comments %}
                                    <tr>
                                        <td style="padding-right: 10px">
                                            <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                                <b>{{ rs.product.title }} </b></a>
                                        </td>
                                        <td class="text-center">{{ rs.subject }}</td>
                                        <td>{{ rs.comment }}</td>
                                        <td style="padding-right: 35px">{{ rs.status }}</td>
                                        <td>{{ rs.create_at }}</td>
                                        <td>
                                            <a class="btn-violet" style="padding: 10px;border-radius: 10px" href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Comment will be delete are your sure?')">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End Main Column -->
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->


{% endblock %}

