<!-- === BEGIN CONTENT === -->

<!-- Side Column -->
<div class="col-md-12">
    <!-- Recent Posts -->
    <div class="panel panel-default" style="margin-left: -20px;margin-right: -20px">
        <div class="panel-body">
            <ul class="posts-list margin-top-10">
                <li>
                    <div class="recent-post">
                        <a href="/user">My Profile</a>
                        <br>
                        <span class="recent-post-date">
                                                    May 30, 2020
                                                </span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="recent-post">
                        <a href="#" >My Travels</a>
                        <br>
                        <span class="recent-post-date">
                                                    May 28, 2020
                                                </span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="recent-post">
                        <a href="">

                        </a>
                        <a href="#" >My Activities</a>
                        <br>
                        <span class="recent-post-date">
                                                    July 30, 2013
                                                </span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="recent-post">
                        <a href="">

                        </a>
                        <a href="comments">My Comments</a>
                        <br>
                        <span class="recent-post-date">
                                                    May 30, 2020
                                                </span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Side Column -->
