{% extends 'homebase.html' %}

{% block title %} User COMMENTS {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}
{% block content %}


    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-10">
                <!-- Side Column -->
                <div class="col-md-2">
                    <!-- Recent Posts -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">User Panel</h1>
                        </div>
                    </div>
                    {% include "user_panel.html" %}
                </div>
                <!-- Main Column -->
                <div class="col-md-10">
                    <!-- Recent Posts -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">User Comments </h1>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if messages %}
                                {% for message in messages %}
                                    <div style="color: #0dd44e; font-size: medium">
                                        {{ message|safe }}<br><br>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Subject</th>
                                        <th>Comment</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in comments %}
                                        <tr>
                                            <td>
                                                <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                                    <b>{{ rs.product.title }} </b></a>
                                            </td>
                                            <td>{{ rs.subject }}</td>
                                            <td>{{ rs.comment }}</td>
                                            <td>{{ rs.status }}</td>
                                            <td>{{ rs.create_at }}</td>
                                            <td>
                                                <a class="btn-violet" style="padding: 5px;border-radius: 10px" href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Comment will be delete are your sure?')">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Main Column -->
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->


{% endblock %}

